.btn-bottom-search{
    position:fixed;
    bottom: 0;
    right: 0;
    margin: 0.5em;
}


.demo-layout-transparent {
    background: url('images/background.jpg') center / cover;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
    color: white;
}

.twiter-lbl-date{    font-size: 1em;
                     color: #dcdcdc;
                     text-align: right;}


.option-box{  
    
    width: 70%;
    max-width: 1000px;
    background-color: rgba(255,255,255,0.7);
    margin: 0 auto;
    /* opacity: 0.5; */
    border-radius: 7px;
    padding: 2em;

    margin-top: 2em;

}