
<div>
    
    <div class="mdl-grid">
        
        <div ng-repeat="tw in homeCtrl.twitter" class="mdl-cell  mdl-cell--6-col-phone mdl-cell--3-col-desktop">

            <div class="demo-card-wide mdl-card mdl-shadow--2dp" style="width: 95% !important;">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">{{tw.user.name}}</h2>
                    
                </div>
                <span class="twiter-lbl-date">{{tw.created_at | MyDateConverter| date : 'd/MMM/yy'}}</span>
                <div class="mdl-card__supporting-text">
                    {{tw.text}}
                </div>
                
               
            </div>

        </div>

    </div>
  
</div>

<!--
  <button  class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored btn-bottom-search">
  <i class="material-icons">search</i>
</button>
-->