
<div class='option-box'>
    
    <h4>Settings</h4>
  
    <md-input-container class="md-icon-float md-block">
      <!-- Use floating label instead of placeholder -->
      <label>Search Text</label>
      <md-icon md-svg-src="css/icons/ic_person_black_24px.svg" class="name"></md-icon>
      <input ng-model="configuration.text" type="text">
    </md-input-container>
    
    <!--<div>{{configuration.text}}</div>-->
    
    <md-input-container class="md-icon-float md-block">
      <!-- Use floating label instead of placeholder -->
      <label>Location (Lat)</label>
      
      <md-icon md-svg-src="css/icons/ic_location_on_black_24px.svg" class="name"></md-icon>
      <input ng-model="configuration.locationLat" type="text">
    </md-input-container>
    
    <md-input-container class="md-icon-float md-block">
      <!-- Use floating label instead of placeholder -->
      <label>Location (Long)</label>
      
      <md-icon md-svg-src="css/icons/ic_location_on_black_24px.svg" class="name"></md-icon>
      <input ng-model="configuration.locationLong" type="text">
    </md-input-container>
    
    <md-input-container class="md-icon-float md-block">
      <!-- Use floating label instead of placeholder -->
      <label>Language</label>
      <md-icon md-svg-src="css/icons/ic_language_black_24px.svg" class="name"></md-icon>
      <input ng-model="configuration.language" type="text">
    </md-input-container>
        
</div>
    
 